<div class="selector-frame">
  <div class="mcf-flex-box mcf-flex-nowrap top-sm">
    <div class="col-layout w-30">
      <table-selector></table-selector>
      <div class="mt-8"
        *ngIf="(tableColumnsApiSubject$ | async)?.length">
        <div class="category-frame"
          *ngIf="modelCollection.length">
          <div class="widget">
            <div class="widget-header">
              <span>Columns</span>
            </div>
            <div class="widget-content">
              <div class="second">
                <div class="mcf-flex-box mcf-flex-nowrap middle-sm column-hover"
                  (click)="setColumn(item)"
                  *ngFor="let item of (tableColumnsApiSubject$ | async) let $idx = index;">
                  <div class="widget-frame"
                    [ngClass]="item.container !== '' ? 'col-xs-9 mr-4' : 'col-xs-12'">
                    <div class="element-name">{{item.name}}</div>
                  </div>
                  <div class="widget-frame"
                    [ngClass]="{
                  'col-xs-2': item.container !=='' && item.count !== 0,
                  'col-xs-3': item.container !=='' && item.count == 0,
                  'col-xs-0': item.container == ''}">
                    <div class='element-name'>{{item.container}}</div>
                  </div>
                  <div class="widget-frame b-left col-xs-1"
                    *ngIf="item.container !=='' && item.count !== 0">
                    <div class="element-name">{{item.count}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="category-frame mt-8"
          *ngIf="modelCollection.length">
          <div class="widget">
            <div class="widget-header">
              <span>Models</span>
            </div>
            <div class="widget-content">
              <div class="second">
                <div class="mcf-flex-box mcf-flex-nowrap middle-sm column-hover"
                  *ngFor="let item of modelCollection let $idx = index;">
                  <div class="widget-frame col-xs-12 mr-4">
                    <div class="element-name">{{item}}</div>
                  </div>
                  <!-- <div class="widget-frame b-left col-xs-1">
                  <div class="element-name"></div>
                </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="codemirror-output w-90"
      *ngIf="(tableColumnsApiSubject$ | async)?.length">
      <categorized-output-tab></categorized-output-tab>
    </div>
  </div>
</div>