<div class="selector-frame">
  <div class="category-frame">
    <div class="widget">
      <div class="widget-header">
        <span>Tables</span>
      </div>
      <div class="widget-content"
        *ngIf="tableCollection.length > 0">
        <div class="second">
          <div class="mcf-flex-box mcf-flex-nowrap middle-sm column-hover"
            (click)="setTable(item.name)"
            *ngFor="let item of tableCollection let $idx = index;">
            <div class="widget-frame w-10 mr-4">
              <div class="">{{item.dataSourceType}}</div>
            </div>
            <div class="widget-frame w-90">
              <div class="">{{item.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>