<form [formGroup]="dateByRegionOptions">

  <div class="category-frame">

    <div class="region-space"
       *ngIf="(dataService.dashboardFacade.getGlobalRegions() | async) as regions">
      <div class="font-14 ms-3 me-2 text-off-white">Region:</div>

      <ng-multiselect-dropdown formControlName="region"
         [placeholder]="'Select Regions'"
         [data]="regions"
         [settings]="dropdownSettings"
         (onSelect)="onRegionSelect($event)"
         (onDeSelect)="onRegionDeSelect($event)">
      </ng-multiselect-dropdown>

      <ng-template #regionLoad>
        Loading...
      </ng-template>
    </div>

    <div class="plottype-space"
       *ngIf="(dataService.dashboardFacade.getplotType() | async)">
      <div class="font-14 ms-3 me-2 text-off-white">Plot Type:</div>

      <ng-multiselect-dropdown formControlName="plotType"
         [data]="plotListLeft"
         [placeholder]="'Select Plot Type'"
         [settings]="dropdownSettingsSingle"
         class="singleselect"
         (onSelect)="onPlotTypeSelect($event)">
      </ng-multiselect-dropdown>

      <ng-template #plotLoad>
        Loading...
      </ng-template>
    </div>

    <button class="btn btn-primary-light ms-4"
       (click)="saveSelections()">Save</button>
    <!-- <button title="Resets values to last saved"
                     class="btn btn-primary-light"
                     (click)="cancelEditMode()">Reset</button> -->
    <div class="button-space me-4">

      <div class="d-flex align-items-center ms-auto"
         *ngIf="(dataService.dashboardFacade.screenGroupSubject$ | async)?.length > 1">
        <div class="d-flex align-items-center me-2"
           *ngFor="let item of (dataService.dashboardFacade.screenGroupSubject$ | async) let $idx = index;">
          <input type="radio"
             id="{{$idx}}"
             name="select"
             [disabled]="item.disabled ? true : false"
             value="$idx"
             [checked]="item.id === dataService.dashboardFacade.selectedScreen"
             (change)="setScreen($idx)" />
          <label for="{{item.id}}">
            <div class="noselect multiple font-12 px-1">{{item.name}}</div>
          </label>
        </div>
      </div>
    </div>
  </div>
</form>