@import "../styles/configuration.scss";

// Toggle button version in AU Visualization chart
input[type="radio"] {
  display: none;

  &:not(:disabled) ~ label {
    cursor: pointer;
    padding: 0.16rem 0 !important;
    width: 140px !important;
  }

  &:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    background: gray;
    width: 105px !important;
    padding: 0.16rem 0 !important;
    box-shadow: none;
    cursor: not-allowed;
  }
}

input[type="radio"]:not(:checked) ~ label {
  color: white;
}

input[type="radio"]:checked + label {
  background: #0d6efd;
  width: 140px !important;
  padding: 0.16rem 0 !important;
  color: hsla(215, 0%, 100%, 1);
}

label {
  display: block;
  background: $brand-primary-background;
  border: 1px solid hsla(150, 75%, 50%, 0.5);
  border-radius: 3px;
  width: 145px;
  padding: 0.2rem 0;
  text-align: center;
  font-size: 11px;
  position: relative;

  &:disabled {
    padding: 0rem 0;
  }

  &.red {
    background: red;
  }

  &.blue {
    background: #0d6efd;
  }

  &.gray {
    background: gray;
  }

  &.dark-blue {
    background: $brand-primary-background;
  }

  &:hover {
    border: 1px solid hsla(150, 75%, 50%, 1);
  }
}

.affected-title-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.flex-basis-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .header {
    width: 100% !important;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 15px;
    &.navy-background {
      background-color: var(--accelya-primary-blue);
      color: var(--txt-bgwhite);
    }
  }

  .flex-main {
    display: flex;
    flex-direction: column;
    width: 100% !important;

    .metric-selection {
      min-width: 100% !important;
      padding: 4px 0;
      background-color: var(--accelya-primary-blue);
    }
  }

  .footer {
    display: flex;
    margin-top: 6px !important;
    bottom: 0px !important;
    align-items: center;
    width: 100%;
    padding: 15px 32px;
    background-color: var(--accelya-primary-blue);
    color: var(--txt-bgwhite);
    .privacy-text {
      color: var(--txt-bgwhite);
      font-size: 13px;
      font-weight: 400;
      word-wrap: break-word;
    }
    .no-underline {
      text-decoration: none;
      color: var(--txt-bgwhite);
    }
  }
}

.collapse-js-button {
  z-index: 10;
  margin-left: -20px;
  margin-top: -8px;
  width: 35px;
  height: 42px;
  background-color: #263238;
  color: white;
  font-size: 2.2rem;
  font-weight: 600;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 10px !important;

  &:hover {
    background-color: lighten($brand-link-blue-text, 10%) !important;
  }
}
