#world-map {
  background-color: #000934; // #100c2a;
  width: 100% !important;
  height: calc(100vh * 0.42) !important;
}

// .color-test {
//   color: "#37A2DA", #cc4827", "#20c94d", "#d71ce0", "#dbe548", "#3a86c9", "#76ef58";
// }
