<div echarts
  id="metric-comparison"
  [style.height.px]='350'
  [style.min-width.px]='1000'
  [style.width.%]='100'
  class="echart-container"
  [options]="options"></div>
<div echarts
  id="metric-comparison1"
  class="echart-container"
  [style.height.px]='350'
  [style.min-width.px]='1000'
  [style.width.%]='100'
  [style.margin.top.px]='10'
  [options]="options"></div>
<div echarts
  id="metric-comparison2"
  class="echart-container"
  [style.height.px]='350'
  [style.min-width.px]='1000'
  [style.width.%]='100'
  [options]="options"></div>
