#metric-comparison {
  width: 100% !important;
  height: calc(100vh * 0.275) !important;
  border: 1px solid #00327e;
}

#metric-comparison1 {
  margin-top: 10px;
  width: 100% !important;
  height: calc(100vh * 0.275) !important;
  border: 1px solid #00327e;
}

#metric-comparison2 {
  margin-top: 10px;
  width: 100% !important;
  ///background-color: rgb(255, 255, 255);
  height: calc(100vh * 0.275) !important;
  border: 1px solid #00327e;
}
