#metric-comparison {
  width: 100% !important;
  //min-width: 1000px !important;
  height: calc(100vh * .275) !important;
}

#metric-comparison1 {
  margin-top: 10px;
  width: 100% !important;
  //min-width: 1000px !important;
  height: calc(100vh * .275) !important;
}

#metric-comparison2 {
  margin-top: 10px;
  width: 100% !important;
  //min-width: 1000px !important;
  height: calc(100vh * .275) !important;
}
