<div id="detail-section">
   <div *ngIf="selectedFlights"
      class="details-label middle-sm">Selected Flight Details</div>
   <div class="detail-frame">
      <div echarts
         id="piece-pie"
         [options]="options"></div>
      <div class="">
         <ag-grid-angular #agGrid
            id="myGrid"
            class="ag-theme-balham-dark"
            gridAutoHeight
            gridAutoWidth
            (gridReady)="onGridReady($event)"
            [suppressPaginationPanel]="true"
            [enableColResize]="true"
            [rowSelection]="rowSelection"
            (selectionChanged)="onSelectionChanged($event)"
            [gridOptions]="gridOptions"
            [rowData]="rowData">
         </ag-grid-angular>
      </div>
   </div>
</div>